/*
Theme Name: Hợp Bách
Theme URI: https://huuhienqt.info
Author: Hồ Hữu Hiền
Author URI: https://huuhienqt.info
Description: Giao diện cho công ty Hợp Bách
Version: 1.0.0
Text Domain: hopbach
*/
@import url("inc/style.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100&subset=latin,vietnamese);
body{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.clear{
    clear: both;
}
/*================================= HEADER =================================*/
.header-toolbar {
    background-color: #000;
    color: #FFF;
    min-height: 50px;
    line-height: 50px;
}
.header-toolbar .header-text{
    font-size: 14px;
}
.header-toolbar .fa{
    margin-right: 13px;
}
.header-toolbar .top-phone-number{
    color: #2eafff;
    font-size: 20px;
    font-weight: bold;
}
ul.top-menu {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 25px;
    list-style: none;
}
ul.top-menu li{
    display: inline-block;
    margin: 0;
}
ul.top-menu li a{
    color: #FFF;
    border-right: 1px solid #FFF;
    padding: 0 7px;
}
ul.top-menu li:last-child a{
    border-right: none;
}
.header-banner{
    padding: 13px 0;
}
.site-logo {
    float: left;
    width: 130px;
}
.site-description {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
}
h1.site-name, h2.site-name{
    font-size: 40px;
    font-weight: bold;
    color: #e0271e;
    margin-top: 5px;
}

#header-search {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    margin-top: 27px;
}
#header-search-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: medium none;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 20px;
    background: url('assets/images/dropdown-icon.png') no-repeat 95% 50%;
}
#header-search #s {
    border: none;
    border-left: 1px solid #cdcdcd;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    width: 155px;
}
.header-search-icon {
    background: #e0271e url("assets/images/search-icon.png") no-repeat center center;
    float: right;
    height: 30px;
    text-indent: -9999999px;
    width: 30px;
    border: 1px solid #e0271e;
    border-radius: 3px;
}

.header-cart-content {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    height: 32px;
    line-height: 30px;
    margin-top: 27px;
    overflow: hidden;
}
.header-cart-content .fa.fa-shopping-cart {
    background: #e0271e none repeat scroll 0 0;
    border: 1px solid #e0271e;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    float: left;
    height: 30px;
    margin-right: 10px;
    padding: 7px;
    width: 30px;
}
.widget_shopping_cart_content {
    position: relative;
}
.header-cart-content-data {
    background: #e0271e none repeat scroll 0 0;
    min-width: 300px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 32px;
    color: #FFF;
    z-index: 999;
    display: none;
}
.widget_shopping_cart_content:hover .header-cart-content-data{
    display: block;
}
.cart_list.product_list_widget {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mini_cart_item > a{
    color: #FFF;
}
.mini_cart_item > a img {
    height: auto;
    margin-right: 10px;
    width: 30px;
}
.header-cart-content-data .total {
    background: #fff none repeat scroll 0 0;
    color: #ddd;
    margin: 10px 0;
    padding: 5px 10px;
}
/*=============================== END HEADER ===============================*/
/*================================== MENU ==================================*/
nav.navbar.navbar-hop-bach {
    background: #e0271e none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
}
nav.navbar.navbar-hop-bach a{
    color: #FFF;
    display: inline-block;
    margin: 10px 5px;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
    background: none;
}
nav.navbar.navbar-hop-bach li.active a,
nav.navbar.navbar-hop-bach a:hover,
nav.navbar.navbar-hop-bach a:focus,
nav.navbar.navbar-hop-bach a:active{
    color: #e0271e;
    border-radius: 3px;
    background: #FFF;
}
.nav.navbar-nav.socials.navbar-right a {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 30px;
    padding-left: 8px;
    padding-top: 5px;
    width: 30px;
}
#primary-menu .dropdown-menu {
    background: #fff none repeat scroll 0 0;
    box-shadow: none;
    min-width: 170px;
    padding: 0;
}
#primary-menu .dropdown-menu > li {
    border-bottom: 1px solid #cdcdcd;
    margin: 5px 0;
}
#primary-menu .dropdown-menu > li:last-child{
    border-bottom: none;
}
#primary-menu .dropdown-menu > li a{
    color: #000;
    text-transform: none;
    margin-top: 3px;
}
#primary-menu .dropdown-menu > li a .pr-mn-icon {
    margin-right: 15px;
}
/*================================ END MENU ================================*/
/*=============================== HOME PAGE =================================*/
#slider{
    height: 250px;
    overflow: hidden;
}
.home-product-widget{
    margin-bottom: 20px;
}
.col-md-9  .home-products{
    padding: 0px;
}
.col-md-9 .home-sales{
    padding: 0px;
}

/*.home-products {*/
    /*float: left;*/
    /*width: 70%;*/
/*}*/
/*.home-sales {*/
    /*float: right;*/
    /*width: 30%;*/
/*}*/
.home-widget-header {
    background: #333333;
    height: 50px;
    line-height: 50px;
    border-radius: 3px 0 0 0;
}
.home-widget-icon {
    background: #70ba28 none repeat scroll 0 0;
    border-radius: 3px 0 0;
    color: #70ba28;
    display: inline-block;
    float: left;
    height: 50px;
    margin-right: 30px;
    min-width: 50px;
    padding: 0;
    position: relative;
    text-align: center;
}
.home-widget-icon::after{
    position: absolute;
    content: " ";
    border-bottom: 25px solid transparent;
    border-left: 17px solid;
    border-top: 25px solid transparent;
    top: 0;
    right: -17px;
}
.home-widget-title {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    color: #FFF;
}
.home-widget-body {
    border: 1px solid #e1e1e1;
    border-top: none;
    border-radius: 0 0 0 3px;
    height: 370px;
}
.home-widget-body-products {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.home-widget-body-products .col-md-15:last-child{
    border-right: none;
}
.home-widget-body-products .col-md-15{
    float: left;
    padding-bottom: 20px;
    height: 369px;
    border-right: 1px solid #e1e1e1;
}
.home-widget-body-products .col-md-15 .product-image{
    height: 240px;
    padding-top: 20px;
    overflow: hidden;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.home-widget-body-products .col-md-15 .product-image a{
    vertical-align: middle;
}
.home-widget-body-products .col-md-15 .product-image img{
    vertical-align: middle;
    max-width: 90%;
    margin: 0 auto;
}
.product-title.text-center > a {
    color: #000;
    font-size: 14px;
}
.product-price.text-center {
    color: #ff0000;
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0;
}
.product-buttons .add-to-cart {
    border: 1px solid #e0271e;
    border-radius: 3px;
    color: #e0271e;
    display: inline-block;
    height: 34px;
    padding: 5px;
    text-align: center;
    width: 34px;
    background: #FFF;
}
a.button.product_type_simple.add_to_cart_button {
    margin-right: 10px;
    /*float: left;*/
    border: 1px solid #e0271e;
    border-radius: 3px;
    color: #e0271e;
    display: inline-block;
    height: 34px;
    padding: 9px;
    text-align: center;
    width: 34px;
    background: #FFF;
}
.products a:hover{
    text-decoration: none;
}
h3.product-title.text-center {
    color: #000;
    font-size: 14px;
}
.woocommerce a.remove:hover{color:#fff!important;background:none}
.btn-primary {
    background-color: #e0271e;
    border-color: #e0271e;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}
.home-widget-sale-header {
    background: #70ba28;
    border-radius: 0 3px 0 0;
    padding-left: 20px;
}
.home-widget-sale-body {
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 0 0 3px 0;
    height: 370px;
    overflow: hidden;
}
.home-widget-body-sale-products {
    box-sizing: border-box;
    list-style: outside none none;
    padding: 0 0 20px;
    width: 100%;
}
.home-widget-body-sale-products > li:first-child{
    margin-top: 20px;
}
.home-widget-body-sale-products > li {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.product-img {
    float: left;
    overflow: hidden;
    width: 30%;
}
.product-img a img {
    max-width: 100%;
}
.product-des {
    width: 60%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
}
.product-des h4{
    margin-top: 0;
}
.product-des h4 a {
    color: #000;
    display: block;
    font-size: 14px;
}
.product-des h3 {
    color: red;
    margin: 0;
}
.home-product-widget-img {
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    height: 420px;
    width: 100%;
}
/*============================== END HOME PAGE ==============================*/
/*================================ END MENU ================================*/
/*================================= FOOTER =================================*/
.footer-widget {
    background: #29166b none repeat scroll 0 0;
    color: #fff;
    padding: 20px 0;
}
.footer-widget h2.widget-title {
    border-bottom: 1px solid #fff;
    font-size: 18px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.footer-widget .widget ul {
    list-style-image: url("assets/images/footer-list-style-arrow.png");
    margin-left: 17px;
    padding: 0;
}
.footer-widget .widget ul li a{
    color: #FFF;
}
.footer-copy-right {
    background: #000 none repeat scroll 0 0;
    border-top: 2px solid #FFF;
}
.footer-copy-right p {
    padding: 10px 0;
    margin: 0;
    color: #FFF;
}
/*=============================== END FOOTER ===============================*/
/*=============================== PRODUCTS ===============================*/
.products {
    width: 100%;
    float: left;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 34px;
    line-height: 34px;
    background: url("assets/images/select-dropdown-icon.png") 100% 50% no-repeat;
    padding-right: 40px;
    padding-left: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
}
.product-header{
    padding: 20px 0;
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}
.woocommerce .woocommerce-breadcrumb{
    color: #e0271e;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}
.product-type-select{
    float: left;
    margin-right: 20px;
}
.woocommerce .woocommerce-ordering {
    float: left;
    margin-left: 20px;
}
.woocommerce .woocommerce-breadcrumb a{
    font-weight: normal;
}
.woocommerce nav.woocommerce-pagination {
    text-align: right;
}
.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li{
    border: none;
}
.woocommerce nav.woocommerce-pagination ul li a{
    margin: 0 5px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    color: #000;
    padding: 8px 10px;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current{
    margin: 0 5px;
    border: 1px solid #e0271e;
    border-radius: 3px;
    background: #e0271e;
    color: #FFF;
    padding: 8px 10px;
}
.product-page-title, .sidebar-widget-title{
    background: #333333;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    line-height: 50px;
    border-radius: 3px 3px 0 0;
    margin-bottom: 0;
    margin-top: 0;
}
a.added_to_cart.wc-forward {
    display: block;
    width: 100%;
    float: left;
    color: #e0271e;
}
.sidebar-widget {
    margin-bottom: 20px;
}
.sidebar-widget-title{
    background: #70ba28;
    padding-left: 20px;
}
.sidebar-widget-body {
    border: 1px solid #e1e1e1;
    min-height: 100px;
    border-radius: 0 0 3px 3px;
}
.products .product {
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    height: 400px;
}
.products .product:nth-child(4n-4){
    border-right: none;
}
#content .products{
    border: 1px solid #e1e1e1;
    border-top: none;
    margin-bottom: 20px;
    border-radius: 0 0 3px 3px;
}
input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #e1e1e1;
    height: 40px;
    line-height: 40px;
    background: url("assets/images/number-arrow.png") no-repeat 100% 50%;
    padding-right: 40px;
    width: 80px;
    border-radius: 3px;
    padding-left: 10px;
    line-height: 100%;
}
.woocommerce .btn.btn-red, .buttons .btn.btn-red{
    background: #FFF;
    border: 1px solid #e0271e;
    color: #e0271e;
    text-transform: uppercase;
}
.woocommerce .btn.btn-red:hover, .buttons .btn.btn-red:hover{
    background: #e0271e;
    color: #FFF;
    border: 1px solid #e0271e;
}
td.product-name a {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
td.product-subtotal{
    font-weight: bold;
    font-size: 14px;
}
td.subtotal {
    background: #e0271e;
    color: #FFF;
}
.woocommerce table.shop_table td.actions{
    padding: 20px 7px;
}
.input-text {
    padding: 5px;
    border: 1px solid #e1e1e1;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}
.quick-buy-popup {
    position: fixed;
    width: 60%;
    z-index: 9999999;
    background: #FFF;
    top: 20%;
    left: 20%;
    border-radius: 3px;
    display: none;
}
.popup-header h3{
    margin: 0;
    background: #e0271e;
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
}
.popup-body {
    padding: 10px;
    overflow: hidden;
}
.popup-body img {
    height: auto;
    max-width: 90%;
}
.popup-body .input-text{
    width: 100%;
    border-radius: 3px;
}
.popup-body textarea{
    width: 100%;
    border-radius: 3px;
    height: 80px;
    border: 1px solid #e1e1e1;
}
a.popup-close {
    position: absolute;
    right: -20px;
    top: -20px;
}
.woocommerce .quantity .qty {
    width: 6em;
    text-align: center;
}
#main-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
#main-container .product-header{
    padding-top: 0;
}
.product-single-image {
    overflow: hidden;
    border: 1px solid #e1e1e1;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    min-height: 380px;
    vertical-align: middle;
    display: table;
    width: 100%;
}
.product-single-image-detail {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
a.pr-thumbnail {
    margin-top: 20px;
    display: block;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 5px;
    height: 120px;
    text-align: center;
}
h1.product_title {
    font-size: 24px;
    text-transform: uppercase;
}
p.stock {
    font-weight: bold;
    margin: 20px 0;
}
span.stock-status {
    color: red;
}
p.price {
    color: red;
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0;
}
.row.product-share {
    border-top: 1px solid #cdcdcd;
    padding: 20px 0;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 20px;
}
ul.product-social-share {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.product-social-share li {
    display: inline-block;
    margin: 0 10px;
}
ul.product-social-share li a {
    color: #cdcdcd;
}
.attbtn .col-md-2 {
    line-height: 50px;
}
.single_add_to_cart_button {
    background: #e0271e !important;
    color: #FFF;
    height: 40px;
}
.related h2 {
    background: #000;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    height: 50px;
    line-height: 50px;
}
#content .related.products{
    border: none;
}
.related.products .product{
    height: 450px;
}
.product-image.text-center {
    /*min-height: 320px;*/
    vertical-align: middle;
}
.product-single-image-box {
    height: 240px;
    vertical-align: middle;
    display: table-cell;
}
ins {
    display: block;
}
/*=============================== END PRODUCTS ===============================*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}