.page-template-gioithieu .navbar-hop-bach{
    margin-bottom: 0;
}
.row.row2{
    /*border-top: 1px solid #dadada;*/
    padding-top: 17px;
}
.row2 h4{
    position: relative;
    padding-bottom: 12px;
}
.row2 h4::before{
    position: absolute;
    bottom: -1px;
    content: " ";
    width: 10%;
    left: 0;
    height: 2px;
    background-color: #e0271e;
}

.row2 h4{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
}
.row2 h4> span{
    font-size: 23px;
}
.row2 .sidebar h4::before{
    width: 20%;
}
.row2 p{
    line-height: 16px;
    padding-left: 8px;
}
.container.footer-info .row .col-lg-9{
    padding: 0;
}
.row2 .sidebar ul{
    padding-left: 0;
}

.row2 .sidebar ul li{
    background-image: url("../assets/images/gt-listdichvu-icon.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    list-style: none;
    margin: 20px 0;
}
.container-fluid.gioithieu{
    padding: 40px 0;
    background-color: #f4f4f4;
}
.gioithieu h5.current{
    background-color: #e0271e;
}
.gioithieu h5{
    background-color: #FFFFFF;
    background-image: url("../assets/images/gt-white-icon.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}
.gioithieu h5.current{
    background-image: url("../assets/images/gt-white-icon1.png");
}
.gioithieu h5> strong{
    line-height: 40px;
    padding-left: 35px;
}
.gioithieu .row p{
    padding-left: 40px;
    background-color: #FFFFFF;
}
.gioithieu .row h5:first-child{
    margin-top: 0;
}
.container.footer-info img{
    margin-top: 22px;
}
.container-fluid.nhantin {
    background-image: url("../assets/images/gt-nhantinkhuyenmai.png");
    background-repeat: no-repeat;
    padding: 13px;
}
.nhantin .text.text-center{
    color: #FFFFFF;
}
.container-fluid.nhantin input[type="text"] {
    background: rgba(0, 0, 0, 0) url("../assets/images/icon-arrow-right.png") no-repeat scroll 97% 50%;
    border: 1px solid #a1a2a6;
    border-radius: 4px;
    color: #ffffff;
    margin-bottom: 66px;
    margin-top: 30px;
    padding: 5px 15px;
    width: 100%;
}
.knewsemail >label,
.text.text-center #sidebar h2.widget-title{
    display: none!important;
}
.nhantin .knews_add_user .knewsbutton input{
    background-color: #e0271e;
    border: none;
    padding: 3px 70px;
    margin-left: 32%;

}
.knews_add_user .knewsemail input[type="text"]{
    margin-top: 8px;
}
.footerwhite {
    padding: 67px 0;
}
.footerwhite p,
.footerwhite h4{
    font-size: 14px;

}
.nhantin h3{
    font-size: 18px;
}
.nhantin p{
    font-size: 14px;
}
/* trang khuyen mai*/
.km_row2{
    padding-top: 20px;
}
.km_row2 .km_content .col-lg-8 h4{
    margin-top:-3px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
}
.km_row2 .km_content .col-lg-8 h4:before{
    background-color: #e0271e;
    bottom: -1px;
    content: " ";
    height: 1px;
    left: 0;
    position: absolute;
    width: 10%;
}
.km_content a{
    text-transform: inherit;
}
.km_content > .row:first-child{
    padding-top: 0;
}
.km_content > .row{
    padding: 40px 0;
    border-bottom: 1px solid #dadada;
}
.km_content .col-lg-8 p{
    line-height: 17px;
}
.km_content .col-lg-8 a{
    color: #d61d26;
}
.km_content{
    margin: 0 15px;
}
.km_content .row .col-lg-8{
    padding-right: 0;
}
.km_content .row .col-lg-4{
    padding-left: 0;
}
.km_row2 .sidebar{
    padding-left: 0;
}
.km_row2 .sidebar  h3{
    margin-top: 0;
    background-color: #e0271e;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}
.km_row2 .sidebar .inner{
    padding: 0 20px;
}
.inner .col-lg-8 p,
.inner .col-lg-8 h4{
    margin: 0;
}
.inner h4.banhang{
    color: #007dcf;
    background-image: url("../assets/images/km-banhang-icon.png");
    background-repeat: no-repeat;
    padding-left: 22px;

}.inner h4.kythuat{
    color: #007dcf;
    background-image: url("../assets/images/km-kythuat-icon.png");
    background-repeat: no-repeat;
    padding-left: 22px;
    margin: 18px 0;
}
.inner h4{
    font-size: 14px;
    font-weight: bold;
}
.inner > .row.sp1{
    border-bottom: none!important;
}
.support .inner > .row {
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;

}
.inner > .row{
    padding: 20px 0;
}
.inner .row.kythuat{
    margin-bottom: 20px;
}
.km_row2 span.color-red{
    color: #e0271e;
}

.get-sale input[type="text"] {
    background: rgba(0, 0, 0, 0) url("../assets/images/km-black-icon.png") no-repeat scroll 97% 50%;
    border: 1px solid #a1a2a6;
    border-radius: 4px;
    color: #ffffff;
    margin-bottom: 66px;
    margin-top: 30px;
    padding: 5px 15px;
    width: 100%;
}
.get-sale .knews_add_user .knewsbutton input {
    background-color: #e0271e;
    border: medium none;
    padding: 3px 70px;
    width: 100%;
    color: #FFFFFF;
    font-weight: bold;
}
.inner .widget-title{
    display: none;!important;
}
.km_content span.glyphicon {
    font-size: 11px;
}
/*single*/
.kmsg_row2 .kmsg_conten {
    border: 1px solid #dadada;
    padding: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.kmsg_conten h6{
    font-size: 13px;
    font-weight: bold;
}
.kmsg_row2{
    margin-bottom: 40px;
}
.date {
    color: #e0271e;
    font-size: 14px;
    font-weight: 600;
}
.date span.big{
    font-size: 30px;

}
.kmsg_conten .text-right>p{
    float: right;
}
.kmsg_conten p.author{
    background-image: url("../assets/images/km-author-icon.png");
}
.kmsg_conten p.comment{
    background-image: url("../assets/images/km-comment-icon.png");
    margin-left: 35px;

}
.kmsg_conten  .text-right p{
    background-repeat: no-repeat;
    padding-left: 25px;
    margin-top: 18px;
    font-weight: 600;
}
.kmsg_conten .detail {
    padding: 0;
    border-top: 1px solid #dadada;
    padding-top: 20px;
}
.product-header .woocommerce-breadcrumb{
    color: #e0271e;
}
.product-header a{
    color: #000;
}
/*contact*/
.page-template-contact .product-header{
    border: none!important;
    margin-bottom: 0;
}

.contact-detail h1,
.contact-detail h3{
    color: #e0271e;
    font-size: 24px;
}
.contact-detail h4,
.contact-detail h6 span{
    font-size: 13px;
    font-weight: bold;
}
.contact-detail .col-lg-8{
    padding-right: 0;
}
.contact-detail .col-lg-4{
    padding-left: 0;
}
.detail h4.title{
    font-weight: bold;
    text-transform: uppercase!important;
}
.km_content h4>a{
    color: #000000;
}
/*form contact*/


input::-moz-placeholder,
input::-webkit-input-placeholder{
    color: #ffffff!important;
    opacity: 0;
}
.lienlac p.description{
    font-size: 13px;
    line-height: 12px;
    margin-bottom: 0;
}
.form h3{
    color: #d91d26;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.form .form-lienhe input{
    width: 100%;
    padding:6px ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: none;
    border: 1px solid #c9c9c9;
}
.form .form-lienhe textarea.textarea{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    padding:6px ;
    box-shadow: none;
    border: 1px solid #c9c9c9;
    margin-bottom: 15px;
}
.form .form-lienhe input.submit{
    width: 20%;
    background-color: #d91d26;
    border: none;
    color: #ffffff;
}
.container .form h5{
    color: #000000;
    font-weight: bold;
}
.container .form h6{
    font-size: 15px;
    font-weight: 400;
    margin: 16px 0;
}
.form .col-lg-4 p{
    margin-bottom: 18px;
}
.container .form{
    margin-bottom: 40px;
    margin-top: 15px;
}
.form .col-lg-4 p.des{
    margin-bottom: 30px;
}
/* wp-social plugin*/
 .supsystic-social-sharing i,
 .supsystic-social-sharing a{
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding: 0!important;
    color: #cdcdcd!important;
    font-size: 20px!important;
    background-color: #FFFFFF!important;
}
.supsystic-social-sharing{
    float: right !important;
}
.current-menu-item a{
    background-color: #FFFFFF!important;
    color: #d91d26 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.sale .sale .row{
    border: none!important;
}
.sale  .inner h5{
    text-decoration: none!important;
    color: #d91d26!important;
    font-size: 22px;
}
.sale  h5{
    color:#d91d26 ;
    font-size:22px;
    border-bottom: none;
    text-decoration: none!important;
}
.sale .inner a{
    color: #000000!important;
}

.sale .inner{
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 30px;
}

/*shop*/
.km_row2.sidebar-shop h3{
    background-color: #70ba28;
}
.sidebar-shop .get-sale{
    padding-bottom: 20px;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 30px;
}
.km_row2.sidebar-shop{
    padding-top: 0px;
}
.container-flued .alignnone{
    max-width: 100%;
}
.supsystic-social-sharing.supsystic-social-sharing-content-align-right {
   display: block!important;
}
/*layout*/
@media (max-width: 980px) {
    /*trang contact*/
 .wpgmza_map{
     height: 300px!important;
 }
    /*trang khuyen mai*/
 .km_content .row > .col-lg-8{
     margin-top: 20px;

 }
 .inner-banner img{
     display: block;
     margin: 0 auto;
 }
 .gioithieu .col-lg-6 img{
     display: block;
     margin: 0 auto;
 }

}/*end 980*/
@media (max-width: 800px) {
    .contact-detail .col-lg-4 {
        padding-left: 15px;
    }
    .contact-detail .col-lg-8 {
        padding-right: 15px;
    }
    .nhantin .knews_add_user .knewsbutton input {
        margin-left: 37%;
    }
    .nhantin #sidebar{
        padding-left: 0!important;
    }

}/*end 800*/
@media (max-width: 768px) {
    .wpgmza_map{
        height: 270px!important;
    }
}/*end 768*/
@media (max-width: 640px) {
    .wpgmza_map{
        height: 250px!important;
    }
    .km_row2 .sidebar{
        padding-left: 15px;
        margin-bottom: 20px;
    }
    .km_content .row >.col-lg-4{
        text-align: center;
    }
    .row.km_row1{
        padding: 0 15px;
    }
    .supsystic-social-sharing.supsystic-social-sharing-content-align-right a:last-child{
        margin-right: 0!important;
    }
    .row2 .col-lg-8 img{
        display: block;
        margin: 0 auto;
    }
    .row.row2 h4{
        padding: 0 15px;
    }
    .row2 h4::before{
        left: 15px;
    }
    .container-fluid.gioithieu{
        padding: 0 15px;
    }
    .footer-info .row > .col-lg-9{
        padding: 0 15px!important;
    }
    .footer-info img{
        display: block;
        margin: 0 auto;
    }
    .navbar-header .icon-bar {
        background-color: black;
    }
    .navbar-header .navbar-brand {
        color: black;
        text-transform: uppercase;

    }

}/*end 980*/

@media (max-width: 480px) {
    .wpgmza_map{
        height: 200px!important;
    }
    .supsystic-social-sharing {
        float: none !important;
    }
    .supsystic-social-sharing.supsystic-social-sharing-content-align-right {
        text-align: center!important;
    }
    .supsystic-social-sharing.supsystic-social-sharing-content-align-right {
        display: inline-block!important;
        /*margin-left: 11%;*/
    }
    .share .row .col-lg-6:last-child{
        text-align: center!important;
        margin-top: 15px;
    }
    #form-show-product-type #product-type-select{
        //width: 100%;
    }
    .col-md-6 .woocommerce-ordering .orderby{
        //width: 100%;
    }
    .woocommerce .woocommerce-ordering {
        float: left;
        margin-left: 0!important;
    }
    .nhantin .knews_add_user .knewsbutton input {
        margin-left: 30%;
    }
}/*end 480*/

@media (max-width: 360px){
    .nhantin .knews_add_user .knewsbutton input {
        margin-left: 24%;
    }
    .gioithieu h5 strong{
        font-size: 10px!important;
    }
    .col-md-6.shop-filter{
        height: 85px;
    }
    .woocommerce .woocommerce-ordering {
        margin-top: 10px;
    }
    .wpgmza_map{
        height: 170px!important;
    }
    .supsystic-social-sharing.supsystic-social-sharing-content-align-right {
        display: inline-block !important;
    }
    #header-search-select{
        padding-right: 10px!important;
    }
    .home-widget-body-products  li{
        width: 100%!important;
        float: none!important;
    }
    .home-products .home-widget-body{
        height: auto;
    }
        /*margin-left: 4%;*/
}/*end 360*/

/*my option*/
@media (max-width: 990px) {
    .col-md-9.pull-right {
        float: none !important;
    }
}